<html>
    <head>
        <title>CoinWitcher</title>
        
    </head>
    <body>
        <div id="target_div">Watch this space...</div>
    </body>
    <script>
        var targetContainer = document.getElementById("target_div");
        var eventSource = new EventSource("/stream");
        eventSource.onmessage = function(e) {
            //targetContainer.innerHTML = e.data;
            var parsed = JSON.parse(e.data);
            console.log(parsed,"ugiy");
        };
    </script>
</html>